body {
    background: #f1f1f1;
}

.tag-container {
    margin: 10px;
}

.tag-item {
    margin: 4px;
}

.post {
    background: #ffffff;
    box-shadow: 2px 2px 2px #888888;
    margin: 30px 0;
}

.post-img-div {
    overflow: hidden;
    padding-bottom: 30%;
    width: 100%;
    height: 0;
}

.post-img {
    transition: all 1s;
}

.post-img:hover {
    transform: scale(1.4);
}

.post-content {
    padding: 10px 20px;
}

.post-meta {
    font-size: 14px;
    color: #828282;
    padding-top: 10px;
}

.post-link {
    display: block;
    font-size: 24px;
    margin: 0;
}

.post-li {
    list-style: none;
    margin-left: 0;
}

.post-ul {
    list-style-position: inside;
    margin-left: 0;
}

.post-title {
    margin-top: 5px;
    margin-bottom: 2px;
}

.post-title-link {
    color: #404040;
}

.post-title-link:hover {
    text-decoration: none;
    color: #16A085;
}

.post-tag {
    font-size: 10pt;
    color: #828282;
    margin-right: 5px;
}

.post-tag:hover {
    color: #000000;
    text-decoration: none;
}

.tags-name {
    color: #828282;
}

.tags-name:hover {
    color: #000000;
    text-decoration: none;
}

.comment-author {
    font-size: 14px;
    color: #2A7AE2;
}

.comment-text {
    font-size: 16px;
    white-space: pre-wrap;
}

.comment-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

.comment-li {
    width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-right: 0;
    border: none;
    list-style-type: none;
}

.comment-body {
    margin-bottom: 15px;
    margin-top: 15px;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.tag-1 {
    font-size: 10pt;
}

.tag-2 {
    font-size: 10pt;
}

.tag-3 {
    font-size: 11pt;
}

.tag-4 {
    font-size: 11pt;
}

.tag-5 {
    font-size: 12pt;
}

.tag-6 {
    font-size: 12pt;
}

.tag-7 {
    font-size: 12pt;
}

.tag-max {
    font-size: 13pt;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

@media (min-width: 768px) {
    .navbar{
        margin-top: -144px;
        position:fixed;
        width: 100%;
        z-index: 1030;
    }
    .container{
        margin-top: 72px;
    }
}

/* Source from https://github.com/jgm/highlighting-kate/raw/master/css/hk-pyg.css */

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}

td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}

td.sourceCode {
    padding-left: 5px;
}

code.sourceCode span.kw {
    color: #007020;
    font-weight: bold;
}

code.sourceCode span.dt {
    color: #902000;
}

code.sourceCode span.dv {
    color: #40a070;
}

code.sourceCode span.bn {
    color: #40a070;
}

code.sourceCode span.fl {
    color: #40a070;
}

code.sourceCode span.ch {
    color: #4070a0;
}

code.sourceCode span.st {
    color: #4070a0;
}

code.sourceCode span.co {
    color: #60a0b0;
    font-style: italic;
}

code.sourceCode span.ot {
    color: #007020;
}

code.sourceCode span.al {
    color: red;
    font-weight: bold;
}

code.sourceCode span.fu {
    color: #06287e;
}

code.sourceCode span.er {
    color: red;
    font-weight: bold;
}
