{% extends "base.html" %}
{% block title %}Admin|Article{% endblock %}
{% block js %}
    <script>
        var articles_info = $.getJSON("/api/article");

        function delete_article(id) {
            $.ajax({
                type: "DELETE",
                url: "/api/article/" + id,
                success: function (data) {
                    console.log(data);
                    refresh($.getJSON("/api/article"));
                }
            })
        }

        function refresh(p) {
            var body = $("#body");
            body.html("");
            p.done(function (data) {
                console.log(data);
                if (data.ok) {
                    $.each(data.articles, function (index, article) {
                        body.append([
                            "<tr>",
                            "   <td>" + article.id + "</td>",
                            "   <td>" + article.title + "</td>",
                            "   <td>" + article.date + "</td>",
                            "   <td>",
                            "       <a href=\"/admin/article/" + article.id + "\">Edit</a>",
                            "       <a href=\"#\" onclick=\"delete_article(" + article.id + ")\">Delete</a>",
                            "   </td>",
                            "</tr>"
                        ].join("\n"));
                    })
                }
            })
        }

        $(function () {
            refresh(articles_info);
        })
    </script>
{% endblock %}

{% block content %}
    <h1>Articles</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
{% endblock %}
