{% extends "base.html" %}
{% block title %}Admin|Article{% endblock %}
{% block js %}
    <script>
        article = $.getJSON("/api/article/{{ article_id }}/markdown_content");

        $(function () {
            article.done(function (data) {
                if (data.ok) {
                    $("#article_title").val(data.title);
                    $("#article_date").val(data.date_time);
                    $("#article_markdown_content").val(data.markdown_content);
                    $("#article_tags").val(data.tags.toString());
                    $("#article_category").val(data.category.toString());
                    $("#article_img_url").val(data.img_url);
                }
            });
            $("#article_form").on("submit", function (ev) {
                var button = $("#button");
                button.prop("disable", true);
                ev.preventDefault();

                var msg_box = $("#msg_box");
                msg_box.attr("class", "alert alert-info fade in");
                msg_box.html("<strong>Loading...</strong>");

                var title = $("#article_title").val();
                var tags = $("#article_tags").val().split(",").map(function (x) {
                    return x.trim();
                }).filter(function (x) {
                    return x.length > 0;
                });
                var category = $("#article_category").val().trim();
                if (category.length === 0) {
                    category = null;
                }
                var date_time = $("#article_date").val();
                var markdown_content = $("#article_markdown_content").val();
                var img_url = $("#article_img_url").val().trim();

                var data = {
                    title: title,
                    tags: tags,
                    category: category,
                    date_time: date_time,
                    markdown_content: markdown_content,
                    img_url: img_url
                };

                $.ajax({
                    type: "PATCH",
                    contentType: "application/json; charset=utf-8",
                    url: "/api/article/{{ article_id }}",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        button.prop("disable", false);
                        msg_box.attr("class", "alert alert-success fade in");
                        msg_box.html("<strong>Success!</strong>");
                        setTimeout(function () {
                            msg_box.empty();
                            msg_box.removeAttr("class");
                        }, 2000);
                    }
                });
            });
        })
    </script>
{% endblock %}
{% block content %}
    <h1>Edit Article</h1>
    <form id="article_form">
        <div class="form-group">
            <label>Title:</label>
            <input class="form-control" id="article_title">
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input class="form-control" id="article_tags">
        </div>
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" id="article_category">
        </div>
        <div class="form-group">
            <label>Date:</label>
            <input class="form-control" id="article_date">
        </div>
        <div class="form-group">
            <label>Image URL:</label>
            <input class="form-control" id="article_img_url">
        </div>
        <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" rows="10" id="article_markdown_content"></textarea>
        </div>
        <div id="msg_box"></div>
        <button type="submit" class="btn btn-info" id="button">Submit</button>
    </form>
{% endblock %}
