{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block js %}
{% endblock %}
{% block content %}
    <h1>Overview</h1>
    <h3>User</h3>
    <p>There are {{ info["user_count"] }} registered users on this website.</p>
    <a href="/admin/user">more...</a>
    <h3>Article</h3>
    <p>There are {{ info["article_count"] }} articles on this website.</p>
    <a href="/admin/article">more...</a>
    <h3>Comment</h3>
    <p>There are {{ info["comment_count"] }} comments on this website.</p>
    <a href="/admin/comment">more...</a>
{% endblock %}
