{% extends "base.html" %}
{% block title %}Admin|User{% endblock %}
{% block js %}
    <script>
        $(function () {
            $("#user_form").on("submit", function (ev) {
                var button = $("#button");
                button.prop("disable", true);
                ev.preventDefault();

                var msg_box = $("#msg_box");
                msg_box.attr("class", "alert alert-info fade in");
                msg_box.html("<strong>Loading...</strong>");

                var name = $("#user_name").val();
                var email = $("#user_email").val();
                var passwd = $("#user_passwd").val();

                var data = {
                    name: name,
                    email: email,
                    passwd: passwd
                };

                console.log(data);

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/api/user",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        button.prop("disable", false);
                        msg_box.attr("class", "alert alert-success fade in");
                        msg_box.html("<strong>Success!</strong>");
                        setTimeout(function () {
                            msg_box.empty();
                            msg_box.removeAttr("class");
                        }, 2000);
                    }
                });
            })
        })
    </script>
{% endblock %}
{% block content %}
    <h1>Add User</h1>
    <form id="user_form">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" id="user_name">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" id="user_email">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input class="form-control" id="user_passwd">
        </div>
        <div id="msg_box"></div>
        <button type="submit" class="btn btn-info" id="button">Add</button>
    </form>
{% endblock %}
