<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/yapblog.css">
    <script language="JavaScript" type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/yapblog.js"></script>
    <script>
        {% if page_id %}
            this_page_id = {{ page_id }};
        {% else %}
            this_page_id = null;
        {% endif %}
        {% if user %}
            this_user = {
                id: {{ user.id_ }},
                name: "{{ user.name_ }}",
                is_admin: {% if user.is_admin_ %}true{% else %}false{% endif %}
            };
        {% else %}
            this_user = null;
        {% endif %}
        console.log(this_user);
    </script>
    {% block js %}
    {% endblock %}
</head>
<body>

{% if navbar %}
    {% include "navbar.html" %}
{% endif %}

{% if sidebar %}
    <div class="container">
    <div class="row">
    <div class="col-sm-3" id="sidebar">
        {% for sidebar_item in sidebar.items %}
            {% include sidebar_item.template %}
        {% endfor %}
    </div>
    <div class="col-sm-9" id="content">
    <div class="container-fluid" id="content">
{% else %}
    <div class="container">
    <div class="row">
    <div class="col-sm-12" id="content">
    <div class="container-fluid" id="content">
{% endif %}
{% block content %}
{% endblock %}
{% if sidebar %}
    </div>
    <div style="height:50px; width:100%; clear:both;"></div>
    {% if comment %}
        <div class="container-fluid">
            <span style="font-size: 16px;"><strong>Comments</strong></span>
            <textarea class="form-control" rows="3" id="comments-root-textarea"></textarea>
            <button class="btn btn-link btn-xs" style="padding: 0" onclick="submit_reply(null)">New Comment</button>
            <div id="comments" style="padding: 0"></div>
        </div>
    {% endif %}
    <div style="height:50px; width:100%; clear:both;"></div>
    </div>
    </div>
    </div>
{% else %}
    </div>
    <div style="height:50px; width:100%; clear:both;"></div>
    {% if comment %}
        <div class="container-fluid">
            <span style="font-size: 16px;"><strong>Comments</strong></span>
            <textarea class="form-control" rows="3" id="comments-root-textarea"></textarea>
            <button class="btn btn-link btn-xs" style="padding: 0" onclick="submit_reply(null)">New Comment</button>
            <div id="comments" style="padding: 0">
            </div>
        </div>
    {% endif %}
    <div style="height:50px; width:100%; clear:both;"></div>
    </div>
    </div>
    </div>
{% endif %}
{% include "footer.html" %}
</body>
</html>
