<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/yapblog.css">
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</head>
<body>

{% if navbar %}
    {% include "navbar.html" %}
{% endif %}

{% if sidebar %}
    <div class="container">
    <div class="row">
    <div class="col-sm-3" id="sidebar">
    {% for sidebar_item in sidebar.items %}
        {% include sidebar_item.template %}
    {% endfor %}
    </div>
    <div class="col-sm-9" id="content">
{% else %}
    <div class="container">
    <div class="col-sm-12" id="content">
{% endif %}

{% block content %}
{% endblock %}

</div>
</div>

</body>
</html>