<div class="container-fluid" style="padding-bottom: 50px; border-top: 1px solid #e0e0e0">
    <div class="row">
        <div class="container">
            <div class="col-sm-3">
                <h6 style="margin-bottom: 0">Powered by <strong>YapBlog</strong></h6>
                <small>© TLDR</small>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <span class="pull-right">
                    <h6>Rendered in {{ g.request_time() }}</h6>
                </span>
            </div>
        </div>
    </div>
</div>
