{% extends "test.html" %}
{% block js %}
    <script>
        function do_login() {
            var post_data = {
                name: $("#user_name").val(),
                passwd: $("#user_password").val()
            };

            $.post("/api/user/login", post_data, function (result) {
                var msg_box = $("#msg_box");
                if (result.ok === true) {
                    msg_box.text(result.uid);
                } else {
                    msg_box.text(result.msg);
                }
            }, "json");
        }

        $(function () {
            $("#login_form").on("submit", function (ev) {
                $("#login_button").prop("disabled", true);
                ev.preventDefault();
                do_login();
                $("#login_button").prop("disabled", false);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form id="login_form">
        <p>Name: <input type="text" id="user_name"/></p>
        <p>Password: <input type="password" id="user_password"></p>
        <input type="submit" value="Login" id="login_button"/>
    </form>
    <div id="msg_box"></div>
{% endblock %}

</html>