{% extends "test.html" %}
{% block title %}Login{% endblock %}
{% block js %}
    <script>
        function do_login() {
            var post_data = {
                name: $("#user_name").val(),
                passwd: $("#user_passwd").val()
            };

            $.post("/api/user/login", post_data, function (result) {
                var msg_box = $("#msg_box");
                if (result.ok) {
                    msg_box.text(result.uid);
                } else {
                    msg_box.text(result.msg);
                }
            }, "json");
        }

        $(function () {
            $("#login_form").on("submit", function (ev) {
                var button = $("#login_button");
                button.prop("disabled", true);
                ev.preventDefault();
                do_login();
                button.prop("disabled", false);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form id="login_form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" id="user_name">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="user_passwd">
                </div>
                <button type="submit" class="btn btn-default" id="login_button">Submit</button>
            </form>
            <div id="msg_box"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}
